/* === Общий контейнер === */
.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    padding: 4px 8px 8px 8px;
  
    border-radius: 8px;
    border: 1px solid var(--border-card);
    background: var(--bg-second);
  }
  
  .default {
    padding: 12px 16px;
  }
  
  .label {
    color: var(--text-hint);
    font-family: Inter, system-ui, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.5px; /* 175% */
  }
  
  .value {
    color: var(--color-bg-light);
    font-family: Inter, system-ui, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 17.5px */
  }

  .valueSecond {
    color: var(--text-primary);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 17.5px */
  }

  .weight600 {
    font-weight: 600;
  }

  .weight400 {
    font-weight: 400;
  }