.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  align-items: center;
  padding: var(--space-xl);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.electivesList {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.alert {
  margin: var(--space-xl) 0;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.empty :global(.ant-empty-description) {
  color: #fff;
}

